@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Inter", sans-serif;
}

.navbar {
  .navbar-toggler {
    margin-right: -30px !important;
  }
  .container {
    .navbar-brand {
      width: 152px;
      height: 76px;
    }
    .bg-salmon {
      background-color: #fff !important;
    }
    .main-header_menu {
      position: absolute;
      top: 30px;
      left: 715px;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      cursor: pointer;
      transition: 0.3s;
    }
    .main-header_menu span {
      position: absolute;
      width: 30px;
      height: 4px;
      background: #000;
      border-radius: 4px;
      transition: 0.4s;
    }

    .main-header_menu span:nth-child(1) {
      transform: translateY(-10px);
      width: 30px;
      left: 5px;
    }

    .main-header_menu span:nth-child(2) {
      transform: translateY(10px);
      width: 30px;
      left: 5px;
    }

    .main-header_menu.active span:nth-child(3) {
      transform: translateX(40px);
    }

    .main-header_menu.active span:nth-child(1) {
      transform: translateY(0) rotate(45deg);
      width: 30px;
    }

    .main-header_menu.active span:nth-child(2) {
      transform: translateY(0) rotate(315deg);
      width: 30px;
    }
    .collapse {
      .navbar-nav {
        li {
          justify-content: center;
          align-items: center;
          .nav-link {
            font-family: "Source Sans Pro";
            font-style: normal;
            font-weight: 600;
            // font-size: 24.5564px;
            color: #000;
            margin-right: 30px;
          }
        }
        .contact-button {
          .nav-link {
            color: #fff !important;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 20.1697px;
            line-height: 24px;
            color: #ffffff;
          }
          width: 197px;
          height: 58px;
          background: #3db9ff;
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 17px;
          border: none;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .navbar-content-con {
    max-width: 1340px !important;
  }
}

.dropdown-item {
  display: block;
  width: 100%;
  // padding: 0.51rem 3rem !important;

  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #fff !important;

  &:hover {
    color: #3db9ff !important;
  }
}

.dropdown-menu {
  width: 168px;
  // height: 100%;
  background: #3db9ff !important;
  border-radius: 6px !important;
}
