$base-font: "Source Sans Pro",
sans-serif;
$primary-color: #3db9ff;
$white: #fff;
$black: #000000;
$borderColor:rgba(75, 130, 211, 0.5);
$inputBorder: rgba(33, 68, 191, 0.5);
$inputHoverBorder:rgba(38, 68, 191, 0.5);

.careers {
   margin-top: 100px;

   &-job {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &_title {
         font-weight: 900;
         font-size: 48px;
         line-height: 60px;
         margin-bottom: 25px;
         color: $primary-color;

         @media (max-width: 600px) {
            font-size: 40px;
         }

         @media (max-width: 505px) {
            font-size: 30px;
         }

         @media (max-width: 420px) {
            font-size: 25px;
         }

         @media (max-width: 360px) {
            font-size: 21px;
         }
      }

      &_txt {
         font-weight: 400;
         font-size: 20px;
         line-height: 25px;
         color: $black;
      }

      &_selection {
         width: 100%;
         margin-top: 50px;
         padding-bottom: 60px;
         border-bottom: 4px solid $black;

         &-form {
            justify-content: center;
            align-items: center;

            @media (max-width: 768px) {
               align-items: center;
               justify-content: space-between;
            }

            @media (max-width: 500px) {}

            &_selectbox {
               margin: 0 17px;

               @media (max-width: 768px) {
                  max-width: 330px !important;
                  width: 100%;
                  margin: 0;
               }

               @media (max-width: 7670px) {
                  max-width: 100% !important;
                  margin: 10px 0 !important;
               }

               label {
                  font-weight: 400;
                  font-size: 17px;
                  line-height: 96.7%;
                  color: $black;
                  display: none;

                  @media (max-width: 768px) {
                     display: block;
                     margin: 0 0 2% 6%;
                  }
               }

               &-select {
                  max-width: 100%;
                  width: 100%;
                  height: 52px;
                  outline: none;
                  background: $white;
                  border: 3px solid $borderColor;
                  border-radius: 20px;
                  padding: 0 20px;
                  font-weight: 600;
                  font-size: 24.5564px;
                  line-height: 24px;
                  color: $primary-color;
                  appearance: none;
                  background-color: #fff;
                  background-image: url('../assets/img/arrowdown.svg');
                  background-repeat: no-repeat, repeat;
                  background-position: right .7em top 50%, 0 0;
                  background-size: .65em auto, 100%;

                  &::-ms-expand {
                     display: none;
                  }

                  option {
                     font-weight: 400;
                     font-size: 24px;
                     line-height: 24px;
                     color: inherit;
                     padding: 10px;
                     border: 1px solid $black;

                     @media(max-width: 850px) {
                        font-size: 14px;
                        line-height: 14px;
                     }
                  }

                  @media(max-width: 850px) {
                     font-size: 15.6697px;
                     line-height: 15px;
                  }
               }
            }

            &_btn {
               outline: none;
               border: none;
               display: flex;
               align-items: center;
               justify-content: center;
               background: transparent;
               height: inherit;

               img,
               span {
                  user-select: none;
                  pointer-events: none;
               }
            }
         }
      }
   }

   // vacancy
   &-vacancy {
      margin: 80px 0 100px 0;

      &_content {
         &-title {
            font-weight: 700;
            font-size: 48px;
            line-height: 60px;
            color: $primary-color;
            text-align: center;
            margin-bottom: 55px;

            @media (max-width: 768px) {
               font-size: 40px;
            }

            @media (max-width: 500px) {
               font-size: 27px;
               line-height: 27px;
               margin-bottom: 7px;
            }

            @media (max-width: 425px) {
               font-size: 24px;
            }

            @media (max-width: 420px) {
               font-size: 22px;
            }

            @media (max-width: 375px) {
               font-size: 20px;
            }
         }

         &-box {

            @media (max-width: 767px) {
               flex-direction: column-reverse;
            }

            &_left {
               display: flex;
               align-items: center;
               justify-content: center;

               img,
               span {
                  width: 97% !important;
                  height: 100% !important;

                  @media (max-width: 500px) {
                     width: 100% !important;
                  }
               }
            }

            &_right {
               display: flex;
               align-items: flex-start;
               justify-content: center;
               flex-direction: column;

               @media (max-width: 500px) {
                  margin-bottom: 25px;
               }

               &-txt {
                  font-weight: 400;
                  font-size: 22px;
                  line-height: 31px;
                  color: $black;
                  margin-bottom: 15px;

                  @media (max-width: 500px) {
                     font-weight: 400;
                     font-size: 20px;
                     line-height: 139.7%;
                     text-align: start;
                  }
               }

               &-btn {
                  padding: 17px 57px;
                  background: $primary-color;
                  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
                  border-radius: 17px;
                  border: none;
                  outline: none;
                  font-family: 'Inter';
                  font-weight: 400;
                  font-size: 20px;
                  line-height: 24px;
                  color: $white;
               }
            }
         }
      }
   }

   // CV
   &-cv {
      &_title {
         font-weight: 700;
         font-size: 48px;
         line-height: 38px;
         color: $primary-color;
         text-align: center;

         @media (max-width:500px) {
            font-size: 35px;
            line-height: 36px;
         }
      }

      &_content {
         margin-top: 30px;

         &-box {
            margin-top: 15px !important;
            margin-bottom: 15px !important;

            @media (max-width: 500px) {
               margin-top: 0 !important;
               margin-bottom: 0 !important;
            }
         }

         &-form {
            &_content {
               width: 100%;

               &-message {
                  max-width: 100%;
                  height: 100%;

                  &_area {
                     width: 100%;
                     min-height: 330px;
                     height: 100%;
                     background: $white;
                     border: 2px solid $inputBorder;
                     border-radius: 20px;
                     resize: none;
                     padding: 20px;
                     transition: .5s ease;
                     outline: none;
                     font-weight: 400;
                     font-size: 24px;
                     line-height: 36px;
                     color: $black;

                     &:focus {
                        background: transparent;
                        border: 2px solid $inputHoverBorder;
                     }

                     @media (max-width: 500px) {
                        font-size: 20px;
                        min-height: 230px;
                        padding: 10px;
                     }
                  }
               }
            }

            &_box {
               &-inner {
                  @media (max-width: 500px) {
                     margin: 20px 0;
                  }

                  &_input {
                     width: 100%;
                     padding: 18px;
                     font-weight: 400;
                     font-size: 24px;
                     line-height: 36px;
                     color: $black;
                     background: $white;
                     border: 2px solid $inputBorder;
                     border-radius: 20px;
                     outline: none;
                     transition: .5s ease;

                     &:focus {
                        background: transparent;
                        border: 2px solid $inputHoverBorder;
                     }

                     @media (max-width: 768px) {
                        padding: 15px;
                        font-size: 20px;
                     }

                     @media (max-width: 500px) {
                        padding: 13px;
                        font-size: 20px;
                     }
                  }
               }
            }

            // Send File 
            &_sendblock {
               margin-top: 25px;
            }

            &_send {
               &-box {
                  &_left {
                     p {
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 36px;
                        color: $black;
                        opacity: 0.5;
                        @media (max-width: 375px) {
                           font-size: 20px;
                        }
                        @media (max-width: 320px) {
                           font-size: 15px;
                        }
                     }

                     span {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 36px;
                        color: $black;

                        @media (max-width: 500px) {
                           font-size: 15px;
                        }
                     }

                     &-send {
                        @media (max-width: 375px) {
                           display: flex;
                           align-items: center;
                           justify-content: center;
                           flex-direction: column;
                        }

                        input {
                           color: transparent;
                           width: 150px;
                           position: relative;

                           &::-webkit-file-upload-button {
                              visibility: hidden;
                           }

                           &::before {
                              content: 'Attach a CV';
                              display: inline-block;
                              background: transparent;
                              padding: 5px 8px;
                              outline: none;
                              white-space: nowrap;
                              user-select: none;
                              cursor: pointer;
                              font-weight: 400;
                              font-size: 24px;
                              line-height: 36px;
                              text-decoration-line: underline;
                              color: $primary-color;
                              width: 100%;
                              height: 100%;
                           }

                           &:hover::before {
                              border-color: black;
                           }

                           &:active::before {
                              background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
                           }
                        }
                     }
                  }

                  &_right {
                     display: flex;
                     align-items: flex-end;
                     justify-content: flex-end;

                     @media (max-width: 500px) {
                        justify-content: flex-start;
                     }
                     @media (max-width: 375px) {
                        justify-content: center;
                     }

                     &-btn {
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                        color: $white;
                        background: $primary-color;
                        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 17px;
                        padding: 17px 75px;
                        border: transparent;
                        outline: none;

                        @media (max-width: 500px) {
                           margin-top: 15px;
                        }
                     }
                  }
               }
            }

         }
      }
   }

   // location
   &-location {
      min-height: 350px;
      height: 100%;
      margin: 50px 0;
      @media (max-width: 768px) {
         min-height:300px;
         width: 100%;
      }
      @media (max-width: 600px) {
         min-height:250px;
         width: 100%;


      }
      @media (max-width: 500px) {
         min-height:200px;
         width: 100%;

      }
   }
}